<div class="container-fluid" id="events">
  <center>
    <p id="eventsText">Events</p>
    <ul>
      <a href="/hacknights">
      	<li>
      		<p>Hack Nights</p>
      		<br>
      		<img src="{{site.baseurl}}{% link assets/images/hacknights.jpg  %}">
      	</li>
      </a>
      <a href="/hackathons">
      	<li>
      		<p>Hackathons</p>
      		<br>
      		<img src="{{site.baseurl}}{% link assets/images/hackathons.jpg  %}">
      	</li>
      </a>
      <a href="/techtalks">
      	<li>
      		<p>Tech Talks</p>
      		<br>
      		<img src="{{site.baseurl}}{% link assets/images/techtalks.jpg %}">
      	</li>
      </a>
    </ul>
  </center>
</div>
