<div class="container-fluid" id="contactCont">
  <div class="row-fluid" id="contact">
    <ul>
      <li>
        <a href="https://www.facebook.com/{{site.fb_username}}" target="_blank">
          <img src="{{site.baseurl}}{% link /assets/images/social/facebook-square-icon.png %}">
        </a>
      </li>
      <li>
        <a href="mailto:{{site.email}}" target="_blank">
          <img src="{{site.baseurl}}{% link /assets/images/social/mail-icon.png %}">
        </a>
      </li>
      <li>
        <a href="https://github.com/{{site.github_username}}" target="_blank">
          <img src="{{site.baseurl}}{% link /assets/images/social/github-icon.png %}">
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid" id="footerCont">
  <div class="row-fluid" id="footer">
    <img src="{{site.baseurl}}{% link /assets/images/logoTemp.png %}">
  </div>
</div>