<div class="container-fluid">    
  <div class="row-fluid" id="belowNav">
    <div class="col-md-6" id="topLeft" >Build<br>Hack<br>Learn</div>
    <div class="col-md-6" id="topRight">
      <div id="drawing" class="animated fadeInUp">
        <div id="face"></div>
        <div id="body"></div>
        <div id="lap"></div>
        <div id="leg"></div>
        <div id="keyboard"></div>
        <div id="screen"></div>
        <div id="chair"></div>
        <div id="moon">(</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid"> 
    <div id="what-is-byld" align="center" class="col-md-12 col-sm-12">
      <p>
        <span>What's Byld?</span>
        <br><br>
        Byld is the software development club of IIIT-Delhi. We’re a bunch of students who love building apps and hacks using various tools and technologies.
      </p>
    </div>
  </div>
</div>
