<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{site.baseurl}}{% link /assets/js/bootstrap.min.js %}"></script>

<script type="text/javascript" src="{{site.baseurl}}{% link /assets/js/smoothscroll.js %}"></script>
<script type="text/javascript" src="{{site.baseurl}}{% link /assets/js/byldJquery.js %}"></script>
<script type="text/javascript" src="{{site.baseurl}}{% link /assets/js/waypoints.min.js %}"></script>
