<div class="navbar navbar-default navbar-fixed-top animated fadeInDown">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".headCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
    </button>
    
    <div class="navbar-brand">
      <a href="#belowNav" class="smoothScroll">
        <img src="{{site.baseurl}}{% link /assets/images/transparentSmall.png %}">
      </a>
    </div>  

    <div class="navbar-brand pull-right">
      <a href="http://www.iiitd.ac.in">
        <img src="{{site.baseurl}}{% link /assets/images/iiitd.png %}">
      </a>
    </div>

    <div class="collapse navbar-collapse headCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Blog</a></li>
        <li class="dropdown">
          <a href="#">Members<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">List of Members</a></li>
            </ul>
        </li>
        <li><a href="#events" class="smoothScroll">Events</a></li>
        <li><a href="#projects" class="smoothScroll">Projects</a></li>
        <li><a href="#competitions" class="smoothScroll">Competitions</a></li>
        <li><a href="#contact-us" class="smoothScroll">Contact Us</a></li>
        <li><a></a></li> <!-- This is a very very terrible hack, TODO: Fix This ! -->
      </ul>
    </div>

  </div>
</div>
