<div class="container-fluid" id="competitions">
  <div class="row-fluid" id="comp">
    <div class="col-md-12">
      <p>
        <span>External Competitions<br></span>
        <br>
        Byld members are organized into teams which are sent to participate in external competitions held outside IIIT Delhi.
        <br>
        <br>
        <!--
          <a target="_blank" href="competitions/index.html"><button type="button" class="btn btn-primary btn-lg">Upcoming Competitions</button></a>
        -->
      </p>
    </div>
  </div>
</div>

<div class="container-fluid" id="htjCont">
  <div class="row-fluid" id="htj">
    <div class="col-md-12">
      <p>
        <span>How To Join<br></span>
        <br>
        Byld organizes a Hackathon once every month of the semester. The members of the teams which finish at the top in the Hackathons are recruited into the club.<br>
        <br>
        Byld membership is not permanent and the members of the club need to have at least 50% attendance in Byld events to stay a part of the club.
        <br>
        <br>
        <a href="/hackathons/index.html">
          <button type="button" class="btn btn-primary btn-lg">When is next Hackathon?</button>
        </a>
      </p>
    </div>
  </div>
</div>
