#per-member-page-container {
  padding: 150px 10px 30px; /* top side bottom */
}

.member-content-separation-line {
  border-top: 1px solid #cecece;
}

#page-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  min-height: 100vh;
}
