<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top">
    <div id="page-container">

    {% include navigation.html %}

    <div class="container-fluid">
      <div class="row-fluid" id="per-member-page-container">
        <div class="col-md-12">
          <div class="above-the-line">
            <span class="member-name">{{page.name}}</span>
          </div>
          <!-- We're in control of the display above the line - allows us to maintain consistency. But allow arbitary HTML below the line -->
          <!-- Allowing it would give people freedom to make their page their own, because otherwise they may not be interested in making their page at all. -->
          <!-- Stuff which custom HTML would allow - Github links, fontawesome icons, embed tweets, embed buttons to github, show off your stackexchange points, etc-->
          <hr class="member-content-separation-line">
          <div class="member-content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <div id="page-bottom">
      {% include footer.html %}
    </div>
    </div> <!-- page container ends -->

    {% include js.html %}
  </body>
</html>
